:root {
  --brand: #61dafb;
}

@font-face {
  font-family: 'Play';
  src: url(../assets/fonts/Play/Play-Regular.ttf);
}
*{
  font-family: 'Play';
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.welcome {
  background-color: crimson;
}

body {
  font-family: 'Times New Roman', Times, serif;
  .app-wrapper {
    display: flex;
    flex-wrap: wrap;

    .app-header {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      align-items: center;
      background-color: #f7f7f7;
      min-height: 50px;
      border-bottom: 2px solid #dbd9d9;

      h3 {
        padding-left: 15px;
        margin: 0;
      }
    }

    .app-sidebar {
      width: 60px;
      flex: 0 0 60px;
      max-width: 100%;
      background-color: #f7f7f7;
      height: calc(100vh - 60px);
      border-right: 1px solid #dbd9d9;

      .instruments {
        list-style: none;
        padding-left: 0;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          border-bottom: 3px solid #fff;
          padding: 10px 0;

          img {
            cursor: pointer;
          }
        }
      }
    }

    .app-container {
      max-width: 100%;
      width: calc(100% - 61px);
      background-color: #ffff;
      height: calc(100vh - 60px);
    }
  }
}

.ruler {
  position: relative;
  width: 97%;
  margin: 20px auto;
  height: 14px;
}

.ruler .cm,
.ruler .mm {
  position: absolute;
  border-left: 1px solid #555;
  height: 14px;
  width: 10%;
}

.ruler .cm:after {
  position: absolute;
  bottom: -15px;
  font: 11px/1 sans-serif;
}

.ruler .mm {
  height: 5px;
}

.ruler .mm:nth-of-type(5) {
  height: 10px;
}

.ruler .cm:nth-of-type(1) {
  left: 0%;
}

.ruler .cm:nth-of-type(1):after {
  content: "0";
}

.ruler .cm:nth-of-type(2) {
  left: 10%;
}

.ruler .cm:nth-of-type(2):after {
  content: "1";
}

.ruler .cm:nth-of-type(3) {
  left: 20%;
}

.ruler .cm:nth-of-type(3):after {
  content: "2";
}

.ruler .cm:nth-of-type(4) {
  left: 30%;
}

.ruler .cm:nth-of-type(4):after {
  content: "3";
}

.ruler .cm:nth-of-type(5) {
  left: 40%;
}

.ruler .cm:nth-of-type(5):after {
  content: "4";
}

.ruler .cm:nth-of-type(6) {
  left: 50%;
}

.ruler .cm:nth-of-type(6):after {
  content: "5";
}

.ruler .cm:nth-of-type(7) {
  left: 60%;
}

.ruler .cm:nth-of-type(7):after {
  content: "6";
}

.ruler .cm:nth-of-type(8) {
  left: 70%;
}

.ruler .cm:nth-of-type(8):after {
  content: "7";
}

.ruler .cm:nth-of-type(9) {
  left: 80%;
}

.ruler .cm:nth-of-type(9):after {
  content: "8";
}

.ruler .cm:nth-of-type(10) {
  left: 90%;
}

.ruler .cm:nth-of-type(10):after {
  content: "9";
}

.ruler .cm:nth-of-type(11) {
  left: 100%;
}

.ruler .cm:nth-of-type(11):after {
  content: "10";
}

.ruler .mm:nth-of-type(1) {
  left: 10%;
}

.ruler .mm:nth-of-type(2) {
  left: 20%;
}

.ruler .mm:nth-of-type(3) {
  left: 30%;
}

.ruler .mm:nth-of-type(4) {
  left: 40%;
}

.ruler .mm:nth-of-type(5) {
  left: 50%;
}

.ruler .mm:nth-of-type(6) {
  left: 60%;
}

.ruler .mm:nth-of-type(7) {
  left: 70%;
}

.ruler .mm:nth-of-type(8) {
  left: 80%;
}

.ruler .mm:nth-of-type(9) {
  left: 90%;
}

.ruler .mm:nth-of-type(10) {
  left: 100%;
}

.welcome {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    margin-right: 15px;
  }
  h1 {
    font-size: 50px;
    margin-bottom: 15px;
    line-height:80px;
    font-weight: bolder;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 60%, rgba(6,85,171,1) 75%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  img{
    max-width: 100%;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: move;
  }
  @keyframes move {
    0% {
      transform: translateX(0px) ;
    }
    
    50% {
      transform: translateX(40px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

.text {
  padding: 50px;
  background-color: #fff;
  height: 100vh;
  overflow: scroll;
  align-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-bottom: 5px double red;
  }

  p {
    font-size: 20px;
    color: #000;
    font-family: sans-serif;
    margin-top: 30px;
  }
}

.app {
  nav {
    height: 70px;
    width: 100%;
    background-color: rgb(3, 41, 51);
    border-bottom: 2px solid rgb(255, 255, 255);
    position: fixed;
    z-index: 58;
    display: flex;
    align-items: center;

    .burger-btn {
      width: 20px;
      height: 20px;
      margin-left: 20px;
      position: relative;
      cursor: pointer;
      span {
        content: "";
        position: absolute;
        top: 9px;
        width: 20px;
        background-color: #fff;
        height: 2px;
      }
    }
    .burger-btn::before {
      content: "";
      position: absolute;
      top: 0;
      width: 20px;
      background-color: #fff;
      height: 2px;
    }
    .burger-btn::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 20px;
      background-color: #fff;
      height: 2px;
    }

    .menu_btn {
      color: #fff;
      text-transform: unset;
    }
  }
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 70px;
  left: 0;
  transform: translateX(-130%);
  transition: all 0.5s;

  .active {
    transform: translateX(0);
  }

  .blur {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: absolute;
    left: 30%;
  }

  .menu__content {
    width: 30%;
    height: 100%;
    background-color: rgb(3, 41, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;

    .menu__header {
      font-size: 2rem;
      padding: 10px;

      width: 100%;

      h1 {
        text-align: center;
        padding: 10px 15px;
        color: white;
      }
    }

    ul.menu__list {
      text-align: center;
      overflow: scroll;
      height: 80%;
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        flex-direction: column;

        div {
          background-color: #fff;
          color: #000;
          font-size: 16px;
          cursor: pointer;
          border-bottom: 2px solid rgb(3, 41, 51);

          p {
            line-height: 25px;
            margin: 0;
            font-family: sans-serif;
            padding: 10px 0;
            font-size: 20px;
          }
        }

        div:active {
          background-color: rgb(3, 41, 51);
          color: #fff;
        }

        div:hover {
          background-color: rgb(3, 41, 51);
          color: #fff;
          transition: 0.5s;
        }
      }
    }
  }
}

.menu.active {
  transform: translateX(0);
}

/// SUBMENU START

.submenu {
  width: 100%;
  height: 100px;
  background-color: red;
  transform: translateY(-50%);

  .subActive {
    transform: translateY(0);
  }
}

///!! SUBMENU END

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(3, 41, 51);
}

// .theory {
// .sidebar{
//     padding:10px;
//     padding-top:50px;
//     background-color: #667eea;
//     height: 100vh;
//     overflow-y:scroll;
//     ul{
//         list-style: none;
//         padding:0;
//         li{
//             margin-bottom:15px;
//             button{
//                 background-color:#667eea;
//                 border:0;
//                 outline:0;
//                 font-size:17px;
//                 color:white;
//                 text-align: left;
//             }
//         }
//         .active{
//             border-bottom:1px solid white;
//         }
//     }
// }
// .text{
//     padding:100px;
// }
// }
.animate{
  background-color: #fff;
}
li.text-white{
  color: #fff;
}
.mynavbar {
  display: flex;
 background: rgb(2,0,36);
 padding-left:30px !important;
 padding-right:30px !important;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 60%, rgba(6,85,171,1) 75%, rgba(0,212,255,1) 100%);
  margin-bottom: 0;
  li {
    font-size: 16px;
    padding: 25px 15px;
    cursor: pointer;
    text-align: center;
    ul {
      opacity: 0;
      position: absolute;
      background-color: white;
      padding: 10px;
      border-radius: 10px;
      z-index: -1;
      width: 220px;
      margin-top:20px;
      li {
        padding: 10px;
      }
    }
    span {
      color: white;
    }
  }
  li:hover {
    
    ul {
      filter: drop-shadow(0 0 16px rgba(14, 52, 75, 0.2));
      opacity: 1;
      z-index:999;
      transition:.1s;
      li:hover {
        color: #1841b3;
        cursor: pointer;
      }
    }
  }
}
.pdf-reader{
  display:flex;
  position:relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  min-height:calc(100vh - 70px);
  .pdf-render{
    
  }
  .react-pdf__Document{
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(0 0 6px rgba(12, 17, 20, 0.829));
  }
  .react-pdf__Page__annotations.annotationLayer{
    display: none;
  }
  .page-number{
    background-color:white;
    padding:20px 30px;
    border-radius: 5px;
    filter: drop-shadow(0 0 6px rgba(12, 17, 20, 0.829));
    margin-top: -40px;
    display:flex;
    align-items:center;
    justify-content: center;
    column-gap: 30px;
    p{
      margin-bottom:0 !important;
    }
    button{
      border:0;
      background-color:white;
      
    }
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}
 