.app-wrapper{
    display: flex;
    flex-wrap: wrap;
    .app-header{
        width: 100%;
        flex:  0 0 100%;
        max-width: 100%;
        background-color: #f7f7f7;
        min-height: 80px;
        border-bottom: 2px solid #dbd9d9;
        h3{
            padding-left: 15px;
        }
    }
    .app-sidebar{
        width: 60px;
        flex:  0 0 60px;
        max-width: 100%; 
        background-color: #f7f7f7;
        height: calc(100vh - 60px);
        border-right: 1px solid #dbd9d9;
        .instruments{
            list-style: none;
            padding-left: 0;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                border-bottom: 3px solid #fff;
                padding: 10px 0;
                img{    
                    cursor: pointer;
                }
            }
        }
    }
    .app-main{
        width: calc(100% - 60px);
        flex:  0 0 calc(100% - 60px);
        max-width: 100%; 
        background-color: #ffff;
        height: calc(100vh - 60px);
    }
}